* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #f1e2cc;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #500a01;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
section{
background-color: #f9a686;
width: 65%;
margin: 1%;
display: flex;
flex-direction :row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 1%;
border-radius: 3%;

}

.caja1{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  background-color: #500a01;
  /* background-image: url(fondo\ texto.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  border-radius: 3%;
  margin: 1%;
  color: #eee;
  
  
}
.texto{
    background-color: #500a01;
  background-image: url(fondo\ texto.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 35%;
  margin: 1%;
  border-radius: 5%;
  padding: 1%;

}
.imagenes{
  background-color: #1d462e00;
  width: 60%;
  display: flex;
  flex-direction :row;
flex-wrap: wrap;
justify-content: center;
  padding: 1%;
  

}
footer{
  background-color: #500a01;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #eee;
  
}

.copy{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #500a01;
  padding-left: 10%;
  color: #eeeeee77;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.1); 
}

.sombra{
  box-shadow: #333;
}



@media (max-width:600px){
  section{
    background-color: #b34113;

    flex-direction :column;

    
    }
    .caja1{
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      padding: 2%;
    }
}

